RewriteEngine on
RewriteRule ^welcome  index.php [L]
RewriteRule ^support  help.php [L]
RewriteRule ^maintenance  maintenance.php [L]
RewriteRule ^buglist  buglist.php [L]
RewriteRule ^home  home.php [L]
RewriteRule ^faq  faq.php [L]
RewriteRule ^debat/([0-9]+)$ debta.php?id=$1 [L,QSA]
RewriteRule ^rapport/([0-9]+)$ rapport.php?id_signalement=$1 [L,QSA]
RewriteRule ^portfolio/([a-zA-Z0-9]+)$ portfolio.php?username=$1 [L,QSA]
RewriteRule ^conditions  conditions.php [L]
RewriteRule ^confidentialite  confidentialite.php [L]
RewriteRule ^inbox  inbox.php [L]
RewriteRule ^notifications  notifications.php [L]
RewriteRule ^themes  themes.php [L]
RewriteRule ^suspendu  suspendu.php [L]
RewriteRule ^debats  debats.php [L]
RewriteRule ^phashtag hashtag.php [L]
RewriteRule ^chashtag hashtag.php?zone=comments [L]
RewriteRule ^pshashtag/([^/.]+)$ hashtag.php?hashtag=$1 [L,QSA]
RewriteRule ^cshashtag/([^/.]+)$ hashtag.php?zone=comments&hashtag=$1 [L,QSA]
RewriteRule ^publication/([0-9]+)$ publication.php?id=$1 [L,QSA]
RewriteRule ^discussion/([0-9]+)$ discussion.php?id=$1 [L,QSA]
RewriteRule ^profile/([a-zA-Z0-9]+)$ profile.php?username=$1 [L,QSA]
RewriteRule ^archives  archive.php [L]
RewriteRule ^amis/([a-zA-Z0-9]+)$ amis.php?username=$1 [L,QSA]
RewriteRule ^logout  deconnexion.php [L]
RewriteCond %{REQUEST_METHOD} (GET|POST) [NC]
RewriteCond %{QUERY_STRING} ^(.*)(%3C|<)/?script(.*)$ [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)(%3D|=)?javascript(%3A|:)(.*)$ [NC,OR]
RewriteCond %{QUERY_STRING} ^(.*)document\.location\.href(.*)$ [OR]
RewriteCond %{QUERY_STRING} ^(.*)(%3D|=)http(%3A|:)(/|%2F){2}(.*)$ [NC,OR] ## ATTENTION A CETTE REGLE. ELLE PEUT CASSER CERTAINES REDIRECTIONS RESSEMBLANT A: http://www.truc.fr/index.php?r=http://www.google.fr ##
RewriteCond %{QUERY_STRING} ^(.*)base64_encode(.*)$ [OR]
RewriteCond %{QUERY_STRING} ^(.*)GLOBALS(=|[|%[0-9A-Z]{0,2})(.*)$ [OR]
RewriteCond %{QUERY_STRING} ^(.*)_REQUEST(=|[|%[0-9A-Z]{0,2})(.*)$ [OR]
RewriteCond %{QUERY_STRING} ^(.*)(SELECT(%20|\+)|UNION(%20|\+)ALL|INSERT(%20|\+)|DELETE(%20|\+)|CHAR\(|UPDATE(%20|\+)|REPLACE(%20|\+)|LIMIT(%20|\+))(.*)$ [NC]
RewriteRule (.*) - [F]
ErrorDocument 404 /home 
ErrorDocument 500 "Notre hébergeur rencontre des problèmes, réessayez plus tard."